+keyframes(fadeInBottom)
    0%
        opacity: 0
        +transform(translateY(40px))

    100%
        opacity: 1
        +transform(translateY(0))

+keyframes(fadeIn)
    0%
        opacity: 0

    100%
        opacity: 1

+keyframes(bounceInRight)
    0%
        opacity: 0
        +transform(translateX(2000px))

    60%
        opacity: 1
        +transform(translateX(30px))

    80%
        +transform(translateX(-10px))

    100%
        opacity: 1
        +transform(translateY(0))

+keyframes(flash)
    0%
        +transform(scale(0))
        opacity: 0
    100%
        +transform(scale(1))
        opacity: 1

+keyframes(content)
    0%
        opacity: 0
        +transform(translate3d(0, 50px, 0))
    100%
        opacity: 1
        +transform(translate3d(0, 0, 0))

+keyframes(form-fly-up)
    0%
        +transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -500, 0, 1))

    2.564103%
        +transform(matrix3d(1, 0, 0, 0, 0, 1.41683, 0, 0, 0, 0, 1, 0, 0, -262.41364, 0, 1))

    5.128205%
        +transform(matrix3d(1, 0, 0, 0, 0, 1.37431, 0, 0, 0, 0, 1, 0, 0, -110.89219, 0, 1))

    7.692308%
        +transform(matrix3d(1.02276, 0, 0, 0, 0, 1.19769, 0, 0, 0, 0, 1, 0, 0, -30.03738, 0, 1))

    10.25641%
        +transform(matrix3d(1.08198, 0, 0, 0, 0, 1.02141, 0, 0, 0, 0, 1, 0, 0, 4.96607, 0, 1))

    12.820513%
        +transform(matrix3d(1.11011, 0, 0, 0, 0, .93225, 0, 0, 0, 0, 1, 0, 0, 15.09805, 0, 1))

    15.384615%
        +transform(matrix3d(1.11407, 0, 0, 0, 0, .90335, 0, 0, 0, 0, 1, 0, 0, 14.21339, 0, 1))

    17.948718%
        +transform(matrix3d(1.10161, 0, 0, 0, 0, .9081, 0, 0, 0, 0, 1, 0, 0, 9.95034, 0, 1))

    20.512821%
        +transform(matrix3d(1.08, 0, 0, 0, 0, .92785, 0, 0, 0, 0, 1, 0, 0, 5.76675, 0, 1))

    23.076923%
        +transform(matrix3d(1.05522, 0, 0, 0, 0, .95142, 0, 0, 0, 0, 1, 0, 0, 2.77841, 0, 1))

    25.641026%
        +transform(matrix3d(1.03163, 0, 0, 0, 0, .97304, 0, 0, 0, 0, 1, 0, 0, 1.01851, 0, 1))

    28.205128%
        +transform(matrix3d(1.01194, 0, 0, 0, 0, .99021, 0, 0, 0, 0, 1, 0, 0, .15471, 0, 1))

    30.769231%
        +transform(matrix3d(.99741, 0, 0, 0, 0, 1.00233, 0, 0, 0, 0, 1, 0, 0, -.17281, 0, 1))

    33.333333%
        +transform(matrix3d(.98819, 0, 0, 0, 0, 1.00974, 0, 0, 0, 0, 1, 0, 0, -.2323, 0, 1))

    35.897436%
        +transform(matrix3d(.98369, 0, 0, 0, 0, 1.01324, 0, 0, 0, 0, 1, 0, 0, -.18697, 0, 1))

    38.461538%
        +transform(matrix3d(.98289, 0, 0, 0, 0, 1.01378, 0, 0, 0, 0, 1, 0, 0, -.1198, 0, 1))

    41.025641%
        +transform(matrix3d(.98462, 0, 0, 0, 0, 1.01234, 0, 0, 0, 0, 1, 0, 0, -.06422, 0, 1))

    43.589744%
        +transform(matrix3d(.98779, 0, 0, 0, 0, 1.00977, 0, 0, 0, 0, 1, 0, 0, -.02798, 0, 1))

    46.153846%
        +transform(matrix3d(.99148, 0, 0, 0, 0, 1.00681, 0, 0, 0, 0, 1, 0, 0, -.00823, 0, 1))

    48.717949%
        +transform(matrix3d(.99504, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, .00056, 0, 1))

    51.282051%
        +transform(matrix3d(.99803, 0, 0, 0, 0, 1.00157, 0, 0, 0, 0, 1, 0, 0, .0033, 0, 1))

    53.846154%
        +transform(matrix3d(1.00026, 0, 0, 0, 0, .99979, 0, 0, 0, 0, 1, 0, 0, .00328, 0, 1))

    56.410256%
        +transform(matrix3d(1.00169, 0, 0, 0, 0, .99864, 0, 0, 0, 0, 1, 0, 0, .00236, 0, 1))

    58.974359%
        +transform(matrix3d(1.00241, 0, 0, 0, 0, .99807, 0, 0, 0, 0, 1, 0, 0, .00139, 0, 1))

    61.538462%
        +transform(matrix3d(1.00257, 0, 0, 0, 0, .99795, 0, 0, 0, 0, 1, 0, 0, .00069, 0, 1))

    64.102564%
        +transform(matrix3d(1.00233, 0, 0, 0, 0, .99814, 0, 0, 0, 0, 1, 0, 0, .00026, 0, 1))

    66.666667%
        +transform(matrix3d(1.00186, 0, 0, 0, 0, .99851, 0, 0, 0, 0, 1, 0, 0, .00005, 0, 1))

    69.230769%
        +transform(matrix3d(1.00131, 0, 0, 0, 0, .99895, 0, 0, 0, 0, 1, 0, 0, -.00003, 0, 1))

    71.794872%
        +transform(matrix3d(1.00078, 0, 0, 0, 0, .99938, 0, 0, 0, 0, 1, 0, 0, -.00005, 0, 1))

    74.358974%
        +transform(matrix3d(1.00032, 0, 0, 0, 0, .99974, 0, 0, 0, 0, 1, 0, 0, -.00004, 0, 1))

    76.923077%
        +transform(matrix3d(.99998, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00003, 0, 1))

    79.487179%
        +transform(matrix3d(.99976, 0, 0, 0, 0, 1.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    82.051282%
        +transform(matrix3d(.99964, 0, 0, 0, 0, 1.00029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    84.615385%
        +transform(matrix3d(.99962, 0, 0, 0, 0, 1.00031, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    87.179487%
        +transform(matrix3d(.99965, 0, 0, 0, 0, 1.00028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    89.74359%
        +transform(matrix3d(.99972, 0, 0, 0, 0, 1.00023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    92.307692%
        +transform(matrix3d(.9998, 0, 0, 0, 0, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    94.871795%
        +transform(matrix3d(.99988, 0, 0, 0, 0, 1.0001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    97.435897%
        +transform(matrix3d(.99995, 0, 0, 0, 0, 1.00004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

    100%
        +transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))