//solarized palette
$__base03: #002b36
$__base02: #073642
$__base01: #586e75
$__base00: #657b83

$__base04: #1A4F5D

$__base0: #839496
$__base1: #93a1a1
$__base2: #eee8d5
$__base3: #fdf6e3



$__yellow: #b58900
$__orange: #cb4b16
$__red: #dc322f
$__magenta: #d33682
$__violet: #6c71c4
$__blue: #268bd2
$__cyan: #2aa198
$__green: #859900

$blueColor: #268bd2
$blueHoverColor: darken($blueColor, 5)
$blueActiveColor: darken($blueColor, 10)

$indexes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

// Colors
$colorBlack: #000
$colorDarkBlue: #24668C
$colorPureGray: #ccc
$colorWhite: #fff
$colorYellow: #fc0
$colorBlue: $__blue //#28F
$colorViolet: #669
$lightBlueColor: #5bc0de

// Fonts
$fontRobotoMedium: Roboto-Medium, Arial, Helvetica, sans-serif
$fontRobotoMediumItalic: Roboto-Medium-Italic, Arial, Helvetica, sans-serif
$fontRobotoBold: Roboto-Bold, Arial, Helvetica, sans-serif
$fontRobotoBoldItalic: Roboto-Bold-Italic, Arial, Helvetica, sans-serif
$fontRobotoItalic: Roboto-Italic, Arial, Helvetica, sans-serif
$fontRobotoThin: Roboto-Thin, Arial, Helvetica, sans-serif
$fontRobotoLight: Roboto-Light, Arial, Helvetica, sans-serif
$fontHooge: Hooge, Arial, Helvetica, sans-serif
$fontHelveticaNeue: Helvetica Neue, Helvetica, Arial, sans-serif

// Paths
$fonts: '../fonts/'
$images: '../img/'

=registerFont($name, $path, $fileName, $svgPrefix)
    @font-face
        font-family: $name
        font-weight: normal
        font-style: normal
        src: url($path + $fileName + '.eot')
        src: url($path + $fileName + '.eot?#iefix') format('embedded-opentype'), url($path + $fileName + '.woff2') format('woff2'), url($path + $fileName + '.woff') format('woff'), url($path + $fileName + '.ttf') format('truetype'), url($path + $fileName + '.svg#' + $svgPrefix) format('svg')

+registerFont(Hooge, $fonts + '/Hooge/', 'Hooge', 'hooge_05_55_cyr2regular')
+registerFont(Roboto-Thin, $fonts + '/Roboto/Thin/', 'Roboto-Thin', 'robotothin')
+registerFont(Roboto-Light, $fonts + '/Roboto/Light/', 'Roboto-Light', 'robotolight')
+registerFont(Roboto-Bold, $fonts + '/Roboto/Bold/', 'Roboto-Bold', 'robotobold')
+registerFont(Roboto-Bold-Italic, $fonts + '/Roboto/Bold-Italic/', 'Roboto-Bold-Italic', 'robotobold_italic')
+registerFont(Roboto-Medium, $fonts + '/Roboto/Medium/', 'Roboto-Medium', 'robotomedium')
+registerFont(Roboto-Medium-Italic, $fonts + '/Roboto/Medium-Italic/', 'Roboto-Medium-Italic', 'robotomedium_italic')
+registerFont(Roboto-Italic, $fonts + '/Roboto/Italic/', 'Roboto-Italic', 'robotoitalic')

// Mixins
=user-select($value...)
    -webkit-user-select: $value
    -moz-user-select: $value
    -ms-user-select: $value
    user-select: $value

=focus($color)
    &:not(:active),
    &:not(:hover)
        &:focus
            &:before
                border-color: $color

.hidden
    display: none

// Import modules
@import 'bourbon'
@import 'keyframes'

@import 'font-awesome/font-awesome'

@import 'page'

// Components
@import 'components/ui'
@import 'components/ui-dropdown'
@import 'components/toolbar'

// Pages
@import 'pages/home'