.bet-slider
	margin-top: 20px

	&__caption
		margin: 0 0 5px
		font-size: 13px
		font-weight: bold
		color: #657b83

	&__content
		border: 1px solid #e7e7e7
		height: 220px
		width: 700px
		transform: scale(0.795)
		transform-origin: left top

	&__text-wrap
		position: relative
		padding: 0 100px
		border: 1px solid
		height: 100%
		padding-right: 290px
		color: #fff
		opacity: 1
		overflow: hidden
		z-index: 3

	&__title
		font-family: $fontRobotoMedium
		text-transform: uppercase
		margin: 0
		padding-top: 30px
		font-size: 12px
		letter-spacing: 3px

	&__text
		font-family: $fontRobotoLight
		margin-top: 20px
		font-size: 13px

	&__bet-overlay,
	&__overlay-background,
	&__overlay-image
		+position(absolute, 0 0 0 0)

	&__bet-overlay
		z-index: 1

	&__overlay-background
		background-color: rgba(5, 35, 44, .7)
		z-index: 2

	&__overlay-image
		z-index: 1
		background: no-repeat
		background-size: cover

	&__bets
		+position(absolute, 30px 100px 30px 424px)
		z-index: 3

	&__bet-item
		border: 1px solid hsla(0, 0%, 100%, .15)
		padding: 5px 10px

		&:not(:first-child)
			border-top: 0

	&__bet-amount
		font-family: $fontRobotoMedium
		color: #f3a523
		font-size: 20px

	&__bet-desc
		font-family: $fontRobotoLight
		color: #fff
		font-size: 13px