$loaderSize: 190px
$loaderOffset: 22%

.login
    &__container
        +position(absolute, 0 0 0 0)
        display: flex
        width: 100%
        height: 100%
        background: url($images + 'not-found-bg.png')

        &:not(._type_auth)
            flex-direction: column
            justify-content: center
            align-items: center

        &._type_auth
            background: #fff

        &._type_drop-down
            background: #fff
            overflow: hidden

            .login
                &__loader-inner
                    width: 100px
                    height: 100px

                &__loader
                    border-width: 6px

    &__window
        +size(320px auto)

        &._state_error
            .login
                &__window-inner
                    +animation(loginErrorWindow .6s)
                    +keyframes(loginErrorWindow)
                        0%, 100%
                            transform: translateX(0)

                        10%, 30%, 50%, 70%, 90%
                            transform: translateX(-10px)

                        20%, 40%, 60%, 80%
                            transform: translateX(10px)

        &:not(._state_error)
            +animation(form-fly-up 1.3s linear alternate both)

    &__window-inner
        background: #fff
        box-shadow: -5px 5px 0 0 rgba(0, 0, 0,.1), 5px 10px 0 0 rgba(0, 0, 0, .1)

    &__title
        margin: 0 0 15px
        font-weight: 200
        text-align: center
        color: #43A6EB
        font-size: 35px

    &__form-title
        margin: 0
        text-align: center
        color: #767676
        font-size: 31px
        height: 50px
        line-height: 50px
        border-bottom: 1px solid #e7e7e7
        font-weight: 100

    &__box-error
        margin: 0 0 15px
        padding: 10px 20px
        background: #FFB3B3
        text-align: center
        color: #900

    &__box-label
        display: block

    &__box-label + &__box-label
        padding-top: 20px

    &__box-user
        padding: 40px 20px 0

    &__label-caption,
    &__label-value
        display: block

    &__label-caption
        margin: 0 0 5px
        color: #656464
        font-size: 13px

    &__field
        width: 100%
        height: 32px
        padding: 0 10px
        outline: none
        box-sizing: border-box
        border: 1px solid #eee
        background: #f8f8f8
        transition: .3s border, .3s background

        &:hover
            border-color: #DADADA

        &:focus
            background: #FDFDFD
            border-color: #BFBFBF

    &__box-footer
        padding: 40px 20px 20px
        text-align: center

    &__btn
        position: relative
        width: 122px
        height: 37px
        background: #43a6eb
        color: #fff
        outline: none
        border: none
        text-transform: uppercase
        font-size: 12px
        cursor: pointer
        transition: .3s all

        &:not(:active),
        &:not(:hover)
            &:focus
                &:before
                    +position(absolute, -3px -3px -3px -3px)
                    border: 1px solid #389fe7
                    content: ''

        &:hover,
        &:focus
            background: #389fe7

        &:active
            top: 1px
            background: #2c93da

        &._state_disabled
            position: static
            cursor: default
            background: #9BD4FB

            &:hover,
            &:active
                background: #9BD4FB

    &__state-auth
        +position(absolute, 0 0 0 0)

    &__loader-inner
        position: relative
        width: $loaderSize
        height: $loaderSize
        margin: auto

    &__loader
        border: 10px solid #FAFAF9
        border-top-color: #FEDB5B
        transform: translateZ(0)
        border-radius: 50%

        &._size_small
            +position(absolute, $loaderOffset $loaderOffset $loaderOffset $loaderOffset)
            +animation(loaderSmall infinite .8s)
            +keyframes(loaderSmall)
                0%
                    transform: rotate(0deg)
                100%
                    transform: rotate(360deg)

        &._size_big
            +position(absolute, 0 0 0 0)
            +animation(loaderBig infinite .8s)
            +keyframes(loaderBig)
                0%
                    transform: rotate(360deg)
                100%
                    transform: rotate(0deg)

    &__foot
        margin: 20px 0 0
        font-size: 11px
        text-align: center
        color: #333

    &__version
        display: block
        margin: 7px 0 0
        color: #666
        text-align: center
        font-size: 10px
        +user-select(text)

    &__languages
        margin: 10px 0 0

    &__lang
        display: inline-block
        margin: 0 0 0 10px
        width: 15px
        height: 11px
        padding: 1px
        cursor: pointer
        background: no-repeat 50%
        background-size: 15px
        border: 1px solid transparent

        &:hover
            border-color: rgba(0, 0, 0, .2)

        &._icon_ru
            background-image: url($images + 'icons/Russia.svg')

        &._icon_en
            background-image: url($images + 'icons/United-Kingdom.svg')

        &:first-child
            margin: 0

        &._state_active
            cursor: default
            border-color: #43a6eb