.banner-sizes
    &__buttons
        margin: 10px 0 0 1px

    &__inner
        padding: 5px 12px

    &__fields
        margin: 0 0 0 20px
        display: inline-block
        vertical-align: top

        &:first-child
            margin: 0

        &._size_70
            width: 70px