.role-form
    &__inner
        margin: 10px 0 0
.role-list
    &__body
        height: 350px

.right-list
    &__head
        padding: 0 12px 0 0
        background: #F7F7F7
        border-bottom: 1px solid #CACACA

        .right-list
            &__col
                padding: 8px 6px

    &__body
        height: calc(100vh - 350px)

    &__row
        border: none
        border-bottom: 1px solid #EFEFEF
        +clearfix

        &:last-child
            border: none

        &._type_group
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
            color: #666
            font-size: 12px
            cursor: text
            min-height: 27px

            .right-form__class-name
                color: #F1F1F1

            .role-form__class-name
                color: #F1F1F1

            .right-list
                &__col-caption
                    color: #F1F1F1

        &._selected
            .ui
                &__checkbox
                    border-color: #fff

            .right-list
                &__col-caption
                    color: #fff

    &__row-left
        float: left
        width: 60%

    &__row-right
        float: right

    &__col
        float: left
        padding: 6px

        &._size_small
            text-align: center
            width: 30px

        &._type_align-right
            text-align: right

    &__col-caption
        display: block
        color: #8C8B8B
        font-size: 11px