$greenColor: #5cb85c
$greenHoverColor: #449d44
$greenActiveColor: #398439

$blueColor: #5bc0de
$blueHoverColor: #31b0d5
$blueActiveColor: #269abc

$blueColor: #268bd2
$blueHoverColor: darken($blueColor, 5)
$blueActiveColor: darken($blueColor, 10)


$orangeColor: #f0ad4e
$orangeHoverColor: #ec971f
$orangeActiveColor: #d58512

$darkBlueColor: #337ab7
$darkBlueHoverColor: #286090
$darkBlueActiveColor: #204d74

$redColor: #d9534f
$redHoverColor: #c9302c
$redActiveColor: #ac2925

$blackColor: #3b3e43
$blackHoverColor: #25282B
$blackActiveColor: #000

.toolbar
    &__btn
        position: relative
        display: inline-block
        padding: 6px 12px
        background: #fff
        cursor: pointer
        transition: .3s background, .3s border-color, .3s color
        border: 1px solid #ccc
        outline: none
        text-decoration: none
        color: #333
        font-size: 13px
        +user-select(none)

        // Types
        &._type_hollow
            padding: 5px 11px
            border-width: 2px

            &._size_middle
                padding: 8px 11px 7px

            &._size_large
                padding: 9px 15px

        &._type_drop-down
            position: absolute
            top: 0
            right: 0
            margin: 0
            height: 15px
            padding: 9px 14px 8px

            &._position_static
                position: static

            &._has-caption
                top: 22px

        &._type_split-drop-down
            margin-left: 2px

            &._style_default
                margin-left: 0

        // Display
        &._display_block
            display: block
            width: 100%
            text-align: center

        // Sizes
        &._size_middle
            padding: 9px 12px 8px

        &._size_large
            padding: 10px 16px
            font-size: 18px

            .toolbar
                &__icon
                    font-size: 17px

        &._size_small
            padding: 3px 8px
            font-size: 13px

        // States
        &._state_disabled
            pointer-events: none
            opacity: .45

        // Styles
        &._style_green
            color: #fff
            background: $greenColor
            border-color: $greenColor

            &._type_hollow
                background: transparent
                color: $greenColor

            &:focus,
            &:hover
                color: #fff
                background: $greenHoverColor
                border-color: $greenHoverColor

            &:active,
            &._state_checked
                color: #fff
                background: $greenActiveColor
                border-color: $greenActiveColor

        &._style_blue
            color: #fff
            background: $blueColor
            border-color: $blueColor

            &._type_hollow
                background: transparent
                color: $blueColor

            &:focus,
            &:hover
                color: #fff
                background: $blueHoverColor
                border-color: $blueHoverColor

            &:active,
            &._state_checked
                color: #fff
                background: $blueActiveColor
                border-color: $blueActiveColor

        &._style_orange
            color: #fff
            background: $orangeColor
            border-color: $orangeColor

            &._type_hollow
                background: transparent
                color: $orangeColor

                &:focus,
                &:hover
                    color: $orangeHoverColor
                    background: transparent

                &:active
                    color: $orangeActiveColor
                    border-color: $orangeActiveColor

            &:focus,
            &:hover
                color: #fff
                background: $orangeHoverColor
                border-color: $orangeHoverColor

            &:active,
            &._state_checked
                color: #fff
                background: $orangeActiveColor
                border-color: $orangeActiveColor

        &._style_dark-blue
            color: #fff
            background: $darkBlueColor
            border-color: $darkBlueColor

            &._type_hollow
                background: transparent
                color: $darkBlueColor

            &:focus,
            &:hover
                color: #fff
                background: $darkBlueHoverColor
                border-color: $darkBlueHoverColor

            &:active,
            &._state_checked
                color: #fff
                background: $darkBlueActiveColor
                border-color: $darkBlueActiveColor

        &._style_red
            color: #fff
            background: $redColor
            border-color: $redColor

            &._type_hollow
                background: transparent
                color: $redColor

            &:focus,
            &:hover
                color: #fff
                background: $redHoverColor
                border-color: $redHoverColor

            &:active,
            &._state_checked
                color: #fff
                background: $redActiveColor
                border-color: $redActiveColor

        &._style_black
            color: #fff
            background: $blackColor
            border-color: $blackColor

            &._type_hollow
                background: transparent
                color: $blackColor

            &:focus,
            &:hover
                color: #fff
                background: $blackHoverColor
                border-color: $blackHoverColor

            &:active,
            &._state_checked
                color: #fff
                background: $blackActiveColor
                border-color: $blackActiveColor

        &._style_default
            border-color: rgba(0, 0, 0, .2)

            &._type_normal
                padding: 0
                border: none
                color: #0054b9
                text-decoration: underline

                &:hover,
                &:active
                    background: none

                &:hover
                    color: #c00

            &:hover,
            &:focus
                border-color: rgba(0, 0, 0, .4)
                color: #333

            &:active,
            &._state_checked
                background: #DCDCDC
                border-color: rgba(0, 0, 0, .3)

        &:not(:active),
        &:not(:hover)
            &:focus
                box-shadow: 1px 1px 0 #fff inset, -1px 1px 0 #fff inset, 1px -1px 0 #fff inset

        // Other
        &._icon-position_right
            .toolbar
                &__btn-text
                    &._has-icon
                        margin: 0 4px 0 0

    &__btn-text
        &._has-icon
            margin: 0 0 0 4px

    &__icon
        font-size: 14px

    &__btn-caret
        margin: 0 0 0 7px