$dropDownDisabledColor: #908f8f

.ui-dropdown
    +position(absolute, null 0 null 0)
    margin: -1px 0 0
    max-height: 345px
    transition: .3s all
    visibility: hidden
    opacity: 0
    background: #fff
    z-index: 10
    border: 1px solid #ccc
    border-bottom-width: 2px

    &._state_hidden
        opacity: 0
        visibility: hidden

    //&._pos_top
    //    bottom: 100%

    &__clear
        position: absolute
        top: 0
        right: 40px
        width: 36px
        height: 34px
        text-align: center
        line-height: 35px
        cursor: pointer
        color: $__blue
        font-size: 17px
        outline: none

        &._has-caption
            top: 22px

        &:focus,
        &:hover
            background: $__blue
            color: #fff

        &:not(:active),
        &:not(:hover)
            &:focus
                &:before
                    +position(absolute, 1px 1px 1px 1px)
                    border: 1px solid #fff
                    content: ''

    &._has-caption
        top: 55px

    &._state_expanded
        &:not(._state_hidden)
            visibility: visible
            opacity: 1

    &__wrap
        outline: none
        +user-select(none)

        &._has-clear-btn
            &:not(._type_toolbar)
                .ui-dropdown
                    &__main-field
                        padding-right: 85px

        &._type_toolbar
            width: 175px

            &._hidden-field
                width: auto

                .ui-dropdown
                    width: 175px

                &._size_large
                    .ui-dropdown
                        width: 265px

            &:not(._hidden-field)
                &._size_large
                    width: 265px

            .ui-dropdown
                &__main-field
                    padding-right: 70px
                    height: 30px
                    line-height: 30px

                &__clear
                    right: 35px
                    width: 32px
                    height: 30px
                    line-height: 30px

            .toolbar
                &__btn
                    &._type_drop-down
                        padding: 6px 12px 7px

        &._type_multi
            .ui-dropdown
                &__item:not(._type_normal)
                    position: relative
                    padding-right: 22px

                    .fa-check
                        font-size: 16px
                        position: absolute
                        right: 7px
                        top: 50%
                        transform: translateY(-50%)

                    &._state_selected
                        background: $blueColor
                        border-bottom-color: #217dbf

                    &._state_focused,
                    &:hover
                        &:not(._state_disabled)
                            border-bottom-color: #2284ca
                            color: #fff
                            background: #2d80bb

                            .ui-dropdown__sub-title
                                color: #fff

                    &:not(._state_selected)
                        .fa-check
                            visibility: hidden

                    &._state_focused,
                    &:hover
                        &._state_disabled
                            background: #ccdbe6
                            color: $dropDownDisabledColor

                            .ui-dropdown__caption
                                color: $dropDownDisabledColor

                    &._state_disabled
                        .ui-dropdown__sub-title
                            color: $dropDownDisabledColor

        // Extra
        &._page_clients-operations
            width: 220px

            .ui-dropdown
                &__item
                    font-size: 11px

        &:focus
            outline: none

    &__fields
        position: relative

    &__main-field
        padding: 0 50px 0 12px
        line-height: 34px
        cursor: pointer
        overflow: hidden
        white-space: nowrap

        &._state_empty
            color: #888

            &._item-chosen
                color: $__blue

    &__field-inner
        padding: 6px 10px
        border-bottom: 1px solid #ccc
        background: #f7f7f7

        &._state_focused
            .ui-dropdown
                &__search
                    color: #666

    &__collapse-icon-inner
        margin: -4px 3px 0 -7px
        width: 17px
        display: inline-block
        border-radius: 2px

        &:hover
            background: #ECECEC

    &__collapse-icon
        display: inline-block
        margin: -2px 5px 0 7px
        width: 0
        height: 0
        border-style: solid
        border-width: 4px 0 4px 5px
        border-color: transparent transparent transparent $colorBlue
        vertical-align: middle
        transition: .3s transform

        &._state_expanded
            transform: rotate(90deg)

    &__items-inner
        max-height: 269px
        overflow: auto

    &__item
        padding: 4px 10px 3px
        border-bottom: 1px solid #e0e0e0
        background: #fff
        font-size: 12px
        line-height: 17px

        &:last-child
            border: none

        &._state_disabled
            &:not(._type_normal)
                cursor: not-allowed

            cursor: not-allowed
            color: $dropDownDisabledColor
            background: #f5f5f5

            &:hover
                color: $dropDownDisabledColor
                background: #f5f5f5

            .ui-dropdown
                &__icon
                    color: $dropDownDisabledColor

                &__collapse-icon
                    border-left-color: $dropDownDisabledColor

            &._state_selected
                color: $dropDownDisabledColor
                background: #f3f2f2
                border-color: #ece9e9

                &:not(._type_normal)
                    color: $dropDownDisabledColor
                    background: #f3f1f1
                    border-color: #ece9e9

                    .ui-dropdown
                        &__caption
                            color: #666

                        &__icon
                            color: #666

                        &__collapse-icon
                            border-left-color: #666

        @each $i in $indexes
            &._level_#{$i}
                padding-left: #{25 * $i}px

        &._level_0
            padding-left: 12px

        &:hover
            background: #FBF9F9
            color: #000

            .ui-dropdown
                &__code
                    color: #000

        &._type_group
            padding: 3px 10px
            background: #E9EFF5
            font-weight: 500
            color: #666
            font-size: 11px

        &:not(._type_normal)
            cursor: pointer

            &._state_selected
                background: $blueColor
                border-color: $blueColor
                color: #fff

                .ui-dropdown
                    &__collapse-icon-inner
                        &:hover
                            background: #4AA2E0

                    &__collapse-icon
                        border-left-color: $colorYellow

                    &__caption,
                    &__sub-title
                        color: #fff

                    &__segment
                        &._state_highlight
                            background: #fff
                            color: #000

                    &__icon
                        color: $colorYellow

            &._state_focused
                color: #fff
                background: $blueColor
                border-color: rgba(0, 0, 0, .07)

                &:active,
                &:hover
                    color: #fff

                    .ui-dropdown
                        &__code
                            color: #fff

                .ui-dropdown
                    &__caption,
                    &__code
                        color: #fff

                    &__segment
                        &._state_highlight
                            background: #fff
                            color: #000

    &__caption
        &._type_empty
            color: #666

    &__tag
        border: 2px solid white
        display: inline-block
        margin: -2px 4px 0 0
        width: 8px
        height: 8px
        border-radius: 50%
        vertical-align: middle

    &__icon
        margin: -2px 5px 0 0
        display: inline-block
        width: 13px
        vertical-align: middle
        color: $colorBlue
        text-align: center

    &__sub-title
        display: block
        margin: -4px 0 0
        font-size: 10px
        color: #666

    &__search
        +position(absolute, 15px 18px null null)
        transition: .3s color
        color: #ccc

    &__field
        padding-right: 25px
        font-size: 12px

    &__info
        padding: 4px 10px
        +clearfix
        background: #F7F7F7
        border-bottom: 1px solid #ccc
        font-size: 13px
        color: #888

    &__info-left
        float: left
        margin: 7px 0 0

    &__info-right
        float: right

    &__segment
        &._state_highlight
            background: #ff0
            color: #000

    &__loading
        position: relative
        height: 120px