$gap: 34px

.ui
    font-family: $fontHelveticaNeue

    &__label
        margin: 20px 0 0
        display: block
        text-align: left

        &._type_inline
            display: inline-block
            margin: 0

        &._pos_left
            .ui
                &__label-text
                    margin: 0 5px 0 0

                &__label-text,
                &__field-wrap
                    display: inline-block

        &._state_focused
            .ui
                &__label-text
                    color: #073642

                &__desc
                    color: #333

        &:first-child
            margin: 0

    &__label-text
        display: block
        margin: 0 0 5px
        font-size: 13px
        font-weight: bold
        color: #657B83

    &__field-inner
        position: relative
        display: block

        &._type_table
            display: table
            width: 100%

            .ui
                &__field
                    display: table-cell

        &._type_group
            width: 100%
            display: inline-table

            .ui
                &__field,
                &__icon-inner
                    display: table-cell

    &__field
        display: block
        width: 100%
        height: 34px
        padding: 6px 12px
        border: 1px solid #ccc
        box-sizing: border-box
        transition: .3s border-color, .1s box-shadow
        background: #fff
        outline: none
        font-size: 13px
        text-overflow: ellipsis

        // Sizes
        &._size_large
            padding: 10px 16px
            height: 46px

        &._size_small
            padding: 0 8px
            height: 28px

        &._size_extra-small
            padding: 0 5px
            height: 24px

        // Types
        &._type_area
            padding: 10px 12px
            height: 80px
            resize: vertical

            // Sizes
            &._size_large
                padding: 14px 16px

            &._size_small
                padding: 6px 8px

            &._size_extra-small
                padding: 3px 5px

            // Height
            &._height_middle
                height: 200px

            &._height_large
                height: 300px

            &._height_extra-large
                height: 600px

            // Styles
            &._style_json
                font-family: "Lucida Console", "Monaco", sans-serif

        &._type_select
            padding-right: 24px
            +appearance(none)
            border-radius: 0

            &._type_multiple
                height: 100px

        &._type_image-uploader
            padding-right: 44px

        // States
        &._state_matted
            color: #aaa

        &._state_disabled
            background: #F7F7F7

        &._state_disabled
            cursor: not-allowed

        &:not(._state_disabled)
            &:hover
                border-color: #A9A8A8

            &:focus
                border-color: $blueColor
                box-shadow: 1px 1px 0 $blueColor inset

            &._state_error
                border-color: $__orange

                &:focus
                    border-color: $__red
                    box-shadow: 1px 1px 0 $__red inset

        &._state_readonly
            border-color: #F3F3F3
            border-bottom: 2px solid #EAEAEA
            color: #7B7B7B
            background: #fff
            cursor: default

            &:not(._state_disabled),
            &:focus
                border-color: #F3F3F3
                box-shadow: none

        @each $i in $indexes
            &._gaps-right_#{$i + 1}
                padding-right: $gap * ($i + 1)

        // Extra styles
        &._width_70
            width: 70px

    &__select-arrow
        position: absolute
        top: 50%
        right: 10px
        margin: -2px 0 0
        width: 0
        height: 0
        border-style: solid
        border-width: 4px 4px 0 4px
        border-color: #000 transparent transparent transparent
        pointer-events: none

    &__icon-inner
        min-width: 40px
        padding: 6px 14px
        background: #eee
        text-align: center
        border: 1px solid #ccc
        border-right: none
        font-size: 14px
        box-sizing: border-box
        white-space: nowrap

    &__desc
        display: block
        margin: 5px 0 0
        color: #7B7B7B
        font-size: 11px

    &__error
        display: block
        margin: 5px 0 0
        color: #c00
        font-size: 11px

        &._state_success
            color: #3F923F

    &__required
        color: $__orange